<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>

<% if (names.length) { %>
  <ul>
    <% names.forEach(function (name,index) { %>
      <%# Notice how the single quotation mark is escaped in the output HTML %>
      <li foo='<%= name + "ddda" %>'><%= name %> <% /*= link_to(names[index], 'names/'+names[index]) */%></li> 
    <% }) %>

  </ul>
<% } %>
<%//- include head.html %>
<script type="text/javascript">
  var path = "<%= path %>"

</script>
</body>
</html>


