
    <script src="../lib/ejs.js"></script>
   
    <ul id="test"></ul>

    <!-- ejs浏览器环境 -->
    <script type="text/template" id="users">
        <h2>this is EJS compilation demo</h2>
        <% if (names.length) { %>
            <ul>
              <% names.forEach(function(name,index) { %>
                   <% if (index % 2 == 0) {%>
                       <li class= "even">  <%= names[index] %>  <%= index %> </li>
                   <% } else { %>
                       <li>  <%= names[index] %> <%= index %> </li>
                   <% } %>
               <% })  %>
            </ul>
       <% } %>
    </script>


    <script>

     
  
        // 1. get the EJS template as a string
        var templ = document.getElementById('users').innerHTML;

        // 2.data to output to the template function
        var data =  { names: ['loki', 'tobi', 'jane'] };

        //3. stores the rendered HTML
        var html = ejs.compile(templ)(data);
        console.log('Rendered HTML:' + html)

        // inject the rendered data to <body>
        document.body.innerHTML = html;
    </script>


