@import "../css/style.default.css";
@import "function";
@import "indexmain";
body {
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: " ";
  }
  .clearfix:after {
    clear: both;
  }
  .fullLoading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5)
  }
  .fullLoadingBox {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -70px;
    margin-top: -48px;
    width: 140px;
    border-radius: 6px;
    font-size: 14px;
    padding: 58px 0 10px 0
  }
  .fullLoading-cover {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 10000;
    background-color: rgba(241, 241, 241, 1);
    .fullLoadingBox {
      background-color: rgba(0, 0, 0, 0);
      color: #666;
      i {
        border-color: #666;
      }
    }
  }
  .fullLoadingBox i {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 24px;
    -webkit-animation: gif 1s infinite linear;
    animation: gif 1s infinite linear;
    clip: rect(0 auto 12px 0)
  }
  @keyframes gif {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
    }
  }
  @-webkit-keyframes gif {
    0% {
      -webkit-transform: rotate(0deg)
    }
    100% {
      -webkit-transform: rotate(360deg)
    }
  }

  
  .esm-xnpf-detail {
    h1 {
      font-size: 28px;
    }
  }
  .esm-coreline {
    h5 {
      overflow: hidden;
      .pull-right select {
        font-size: 16px;
      }
    }
    .select2-container {
      .select2-choice {
        padding: 0 0 0 8px;
        .select2-arrow {
          b {
            background-position-y: 10px;
          }
        }
      }
    }
    .tab-content {
      padding: 10px 0 0;
      border: 0;
    }
  }
  @include max-screen(800px) {
    .row-stat {
      .esm-xnpf-detail {
        h1 {
          margin-top: 5px;
          font-size: 28px;
          span {
            &:nth-of-type(2) {
              font-size: 22px;
            }
          }
        }
        h5.md-title {
          color: #fff;
          font-size: 14px;
        }
      }
      .esm-coreline {
        h5 {
          .pull-right select {
            font-size: 14px;
          }
        }
      }
    }
  }
  ;
  @include ipad {}
}