<!DOCTYPE html>
<html>
<head>
    <title><%= header %></title>
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
<% if (names.length) { %>
  <ul>
    <% names.forEach(function (name) { %>
      <%# Notice how the single quotation mark is escaped in the output HTML %>
      <li foo='<%= name + "'" %>'><%= name %></li>
    <% }) %>
  </ul>
<% } %>




</body>
</html>


