<ul class="breadcrumb index">
    <li><span class="glyphicon glyphicon-home"></span><a href="#">数据中心</a></li>
    <li><span class="divider">&gt;</span><a href="#">基金</a> </li>
    <li><span class="divider">&gt;</span><a href="#">基金基本资料</a> </li>
    <li><span class="divider">&gt;</span><a href="#" class="active">开放式基金概况</a> </li>
</ul>
