<footer class="bs-docs-footer footer">
    <div class="container">
        <p>版权所有:<a href="http://www.eastmoney.com/" target="_blank">东方财富网</a></p>
        <p>沪ICP证:沪B2-20070217 网站备案号:沪ICP备05006054 沪公网安备 <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402000120">31010402000120号</a></p>
    </div>
</footer>
