<ul class="nav bs-docs-sidenav">
    <li>
        <a href="javascript:;"> 基金基本资料 <span class="arrow"></span></a>
        <ul class="nav">
            <li>
                <a href="#!/fund/00101"> 开放式基金概况</a>
            </li>
            <li>
                <a href="#!/fund/00102"> 封闭式基金概况</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;"> 基金发行 <span class="arrow"></span></a>
        <ul class="nav">
            <li>
                <a href="#!/fund/00201"> 开放式基金发行</a>
            </li>
            <li>
                <a href="#!/fund/00202"> 封闭式基金发行</a>
            </li>
            <li>
                <a href="#!/fund/00203"> 开放式基金发行详情</a>
            </li>
            <li>
                <a href="#!/fund/00204"> 基金上市情况表</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;"> 基金公司 <span class="arrow"></span></a>
        <ul class="nav">
            <li>
                <a href="#!/fund/00301"> 基金公司股本</a>
            </li>
            <li>
                <a href="#!/fund/00302"> 基金公司高管</a>
            </li>
            <li>
                <a href="#!/fund/00303"> 基金公司股东</a>
            </li>
        </ul>
    </li>
</ul>
